<!doctype html>
<html>
<head>
    <title>Beats & Bars</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/theme-orange.css">

    <script src="/socket.io/socket.io.js"></script>
    <!-- <script defer type="text/javascript" src="assets/js/messages.js"></script> -->
</head>
<body>
    <div class="page-header text-center">
        <h1 class="mb-0 super effect-static-text">Beats & Bars</h1>
            <div id="navBtns">
                <a href="/home" class="btn btn-default btn-sm">Profile</a>
                <a href="/swiping" class="btn btn-default btn-sm">Swipe</a>
                <a href="/matches" class="btn btn-default btn-sm">Matches</a>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
    </div>

    <!-- <% for(let i =0;i<user.length;i++){ %>
    <h3><%= user[i].name %>, <%= user[i].age %></h3>
    <% } %> -->
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button type="submit">Send</button>
    </form>
    <ul id="messages"></ul>

    <script>
        var socket = io();
        var messages = document.getElementById('messages');
        var input = document.getElementById('input');
        var form = document.getElementById('form')

        console.log(form)
        form.addEventListener('submit', function (e) {
        e.preventDefault();
        if (input.value) {
            socket.emit('chat message', {message:input.value,fromName:'placeholder:from',fromEmail:"<%=user.local.email%>",toEmail: '<%= username %>'});
            input.value = '';
        }
        });
        // io.on("connection",socket =>{
        socket.on('chat message', function (msg) {
            console.log("message recieved", msg)
            if(msg.toEmail === "<%=user.local.email%>" || msg.fromEmail === "<%=user.local.email%>"){
                var item = document.createElement('li');
                item.textContent = msg.message;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight); 
            }
        });
    </script>
    
</body>
</html>